//Clases fijas
.align-left{
    text-align:left;
}
.align-center{
    text-align:center;
}
.align-right{
    text-align:right;
}
.txt-yellow{
    color:$yellow;
}
.txt-blue{
    color:$blue;
}
.txt-white{
    color:$white;
}
.txt-gray-ligth{
    color:$gray-ligth;
}
.txt-gray-dark{
    color:$gray-dark;
}
.hidden-xs{
    display: none;
}