
// Fonts
@font-face {
    font-family: 'Raleway-Regular';
    src: url(../../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: 'Raleway-Semibold';
    src: url(../../fonts/Raleway/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url(../../fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url(../../fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../../fonts/Open-sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url(../../fonts/Open-sans/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'OpenSans-Medium';
    src: url(../../fonts/Open-sans/OpenSans-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(../../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto-Light';
    src: url(../../fonts/Roboto/Roboto-Light.ttf);
}

