
// Colors
$yellow:#FEED01;
$blue:#0067B1;
$blue-ligth:#A0BCF8;
$gray-ligth:#666666;
$gray-dark:#333333;
$white:#ffffff;
$shadow: 0px 4px 4px rgba($gray-dark, 25%);
//Texts
$Title_regular:'Raleway-Regular';
$Title_medium:'Raleway-Medium';
$Title_bold:'Raleway-Bold';
$Text_regular:'OpenSans-Regular';
$Text_button:'Roboto-Regular';

//Tamaños
$w_10:10%;
$w_20:20%;
$w_30:30%;
$w_40:40%;
$w_50:50%;
$w_60:60%;
$w_70:70%;
$w_80:80%;
$w_90:90%;
$w_100:100%;


