.w_10{
    width:$w_10;
    margin: auto;
}
.w_20{
    width:$w_20;
    margin: auto;
}
.w_30{
    width:$w_30;
    margin: auto;
}
.w_40{
    width:$w_40;
    margin: auto;
}
.w_50{
    width:$w_50;
    margin: auto;
}
.w_60{
    width:$w_60;
    margin: auto;
}
.w_70{
    width:$w_70;
    margin: auto;
}
.w_80{
    width:$w_80;
    margin: auto;
}
.w_90{
    width:$w_90;
    margin: auto;
}
.w_100{
    width:$w_100;
    margin: auto;
}
.cont_center {
    max-width: 1024px;
    margin: 0 auto;
}